@import "../../sass/mixins";
@import "../../sass/responsiveVariable";


.about2__wrap {
  @include wrapSettings;

  .about2__box {
    @include boxDisplaySettings;


    .about2__box__article {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 1.5vw 0 2.5vw;


      h1 {
        font-family: 'muliextrabold', sans-serif;
        font-size: 2.2vw;
        margin-bottom: 3vw;
      }

      p {
        font-family: 'mulilight', sans-serif;
        font-size: 1.1vw;
        line-height: 2vw;
        color: #5C5C5C;
        margin-bottom: 2.5vw;
      }

    }

    .about2__box__media {
      height: 100%;
      width: 90%;
      display: flex;
      justify-content: center;


      .about1__box__media--photo {
        width: 80%;
        height: 32.25vw;
      }

      .about2__box__media--photo {
        width: 82%;
        height: 32.25vw;

        &::before {
          content: "";
          text-align: center;
          color: white;
          width: 30.625vw;
          height: 32.25vw;
          position: absolute;
          z-index: 1;
          @include newBackgroundColor

        }

        span {
          font-family: 'mulilight', sans-serif;
          font-weight: bold;
          font-size: 1.6vw;
          color: white;
          margin: 1.9vw -3vw 0vw;
          padding: 0 3vw 0 3vw;
          position: absolute;
          transform: rotate(-47deg);
          z-index: 2;
        }


      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include imgShadowSettings;

      }


    }
  }
}

@media #{$mobile, $tablet}{
  .about2__wrap {
    @include wrapSettingRWD.about2__box {
      @include boxDisplaySettingsRWD;

      .about2__box__article {

        h1 {
          font-size: 1rem;
          text-align: center;
          margin-top: 1rem;
        }

        p {
          font-size: 0.7rem;
          line-height: 1rem;
        }
      }

      .about2__box__media {
        width: 100%;

        .about2__box__media--photo {
          height: 100%;

          img {
            width: 100%;
            height: 20rem;
          }
        }
      }
    }
  }
}