@font-face {
  font-family: 'mulisemibold';
  src: url('../Fonts/muli-semibold-webfont.woff') format('woff2'),
  url('../Fonts/muli-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'muliregular';
  src: url('../Fonts/muli-regular-webfont.woff2') format('woff2'),
  url('../Fonts/muli-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'mulilight_italic';
  src: url('../Fonts/muli-lightitalic-webfont.woff2') format('woff2'),
  url('../Fonts/muli-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'mulilight';
  src: url('../Fonts/muli-light-webfont.woff2') format('woff2'),
  url('../Fonts/muli-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'muliitalic';
  src: url('../Fonts/muli-italic-webfont.woff2') format('woff2'),
  url('../Fonts/muli-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'muliextralight_italic';
  src: url('../Fonts/muli-extralightitalic-webfont.woff2') format('woff2'),
  url('../Fonts/muli-extralightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'muliextralight';
  src: url('../Fonts/muli-extralight-webfont.woff2') format('woff2'),
  url('../Fonts/muli-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'muliextrabold_italic';
  src: url('../Fonts/muli-extrabolditalic-webfont.woff2') format('woff2'),
  url('../Fonts/muli-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'muliextrabold';
  src: url('../Fonts/muli-extrabold-webfont.woff2') format('woff2'),
  url('../Fonts/muli-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

..

@font-face {
  font-family: 'mulibold_italic';
  src: url('../Fonts/muli-bolditalic-webfont.woff2') format('woff2'),
  url('../Fonts/muli-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'mulibold';
  src: url('../Fonts/muli-bold-webfont.woff2') format('woff2'),
  url('../Fonts/muli-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}