@import "../../sass/mixins";
@import "../../sass/colors";

.contact__wrap {
  @include wrapSettings;
  background-color: #F5F8FA;

  .contact__box {
    @include boxDisplaySettings;

    .contact__box__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;


      span {
        font-family: 'Muli', sans-serif;
        font-weight: lighter;
        font-size: 1vw;
        color: black;
        margin-bottom: 1.2vw;

        &:nth-of-type(2) {
          font-size: 1vw;
          color: $darkGrey;
          margin-bottom: 2vw;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form__inputs {
          display: flex;
          width: 100%;
          justify-content: space-between;
          font-family: 'mulilight', sans-serif;

          .floating-label {
            position: relative;
            margin-bottom: 1.2vw;
              font-family: 'mulilight', sans-serif;
            font-weight: lighter;
            background-color: white;
            @include inputsShadow;

            &:hover {
              @include shadowDownSettings;

            }


          }

          .floating-input {
            font-size: 0.9vw;
            padding: 4px 4px;
            display: block;
            width: 100%;
            height: 1.7vw;
            background-color: white;
            border: none;
            margin-bottom: 0.5vw;
            font-family: 'mulilight', sans-serif;
            cursor: pointer;
          }
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          input:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
          }

          .floating-input:focus{
            outline: none;

          }

          label {
            color: $darkGrey;
            font-size: 0.9vw;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 5px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
          }

          .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
            top: -1vw;
            font-size: 0.625vw;
            color: $darkGrey;
          }



          .floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
            width: 50%;
          }

          *, *:before, *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-top: 1.2vw;
            padding-left: 0.5vw;
          }

          .floating-textarea {
            min-height: 30px;
            max-height: 260px;
            overflow: hidden;
            overflow-x: hidden;
          }



          &:nth-of-type(1) {
            div {
              width: 48%;
            }
          }

          &:nth-of-type(2) {
            flex-direction: column;

            div {


              textarea {
                height: 7vw;
              }
            }
          }
        }

        .contact__box__checkBox {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          font-family: 'Muli', sans-serif;
          font-weight: lighter;
          font-size: 0.5vw;

          p {
            padding-right: 1vw;
          }

          .custom__checkbox {
            width: 6vw;
            display: flex;
            position: relative;
            margin-right: 0.5vw;

            label {
              width: 1.4vw;
              height: 1.4vw;
              cursor: pointer;
              position: absolute;
              top: 0;
              left: 0;
              background: #fcfff4;
                      @include inputsShadow;

              &:after {
                content: '';
                width: 0.8vw;
                height: 0.4vw;
                position: absolute;
                top: 0.3vw;
                left: 0.25vw;
                border: 0.25vw solid $blueColor;
                border-top: none;
                border-right: none;
                background: transparent;
                opacity: 0;
                transform: rotate(-45deg);
              }

              &:hover::after {
                opacity: 0.5;
              }
            }

            input[type=checkbox] {
              visibility: hidden;

              &:checked + label:after {
                opacity: 1;
              }

            }
          }
        }

        input[type="submit"] {
          display: flex;
          align-items: center;
          justify-content: center;
          -webkit-appearance: none;
          outline: none;
          box-shadow: none;
          border: none;
          width: 6.5vw;
          height: 2.8vw;
          border-radius: 2vw;
          text-transform: uppercase;
          font-family: 'Mulibold', sans-serif;
          font-size: 1vw;
          color: white;
          background-color: $blueColor;
          margin-top: 2.5vw;
          cursor: pointer;

        }
        .pressButton{
          @include ovalButtonAnimation;
        }
      }
    }

  }
}

