@import "../../sass/mixins";
@import "../../sass/colors";
@import "../../sass/responsiveVariable";

.about1__wrap {
  @include wrapSettings;

  .about1__box {
    @include boxDisplaySettings;


    .about1__box__article {
      width: 100%;
      display: flex;
      flex-direction: column;
          padding-left: 2.5vw;
      padding-right: 1.5vw;

      h1 {
        font-family: 'muliextrabold', sans-serif;
        font-size: 2.2vw;
        margin-bottom: 3vw;
      }

      p {
        font-family: 'mulilight', sans-serif;
        font-size: 1.1vw;
        line-height: 2vw;
        color: $darkGrey;
        margin-bottom: 2.5vw;

        &:nth-of-type(3) {
          margin: 2vw 0 1vw 0;
        }

        &:nth-of-type(4) {
          margin-bottom: 1vw;
        }
a{
  text-decoration: none;
  color: $blueColor;
}
      }

      .fontAwesome {
        margin-right: 1vw;
        font-weight: lighter;
        color: $blueColor;

      }
    }
    .about1__box__media {
      height: 100%;
      width: 90%;
      display: flex;
      justify-content: center;

      .about1__box__media--image,{
        width: 82%;
        height: 32.25vw;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include imgShadowSettings;

      }


    }
  }
}
@media #{$mobile}{
  .about1__wrap{
    @include wrapSettingRWD
    .about1__box{
@include boxDisplaySettingsRWD
      .about1__box__article{

        h1{
          font-size: 1rem;
          margin-top: 0.5rem;
          text-align: center;
        }
        p{
          font-size: 0.7rem;
          line-height: 1rem;
        }
      }
      .about1__box__media{
        width: 100%;
        .about1__box__media--image{
          height: 100%;
img{
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}
      }
    }
  }}



}