@import "../../sass/mixins";
@import "../../sass/colors";


.about2__wrap {
  @include wrapSettings;

  .about2__box {
    @include boxDisplaySettings;


    .about2__box__article {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid red;
      padding-left: 2.5vw;
      padding-right: 1.5vw;

      h1 {
        font-family: 'muliextrabold', sans-serif;
        font-size: 2.1vw;
        margin-bottom: 3vw;
      }

      p {
        font-family: 'mulilight', sans-serif;
        font-size: 1.1vw;
        line-height: 2vw;
        color: $darkGrey;
        margin-bottom: 2.5vw;

        &:nth-of-type(3) {
          margin: 2vw 0 1vw 0;
        }

        &:nth-of-type(4) {
          margin-bottom: 1vw;
        }
a{
  text-decoration: none;
  color: $blueColor;
}
      }

      .fontAwesome {
        margin-right: 1vw;
        font-weight: lighter;
        color: $blueColor;

      }
    }
    .about2__box__media {
      height: 100%;
      width: 90%;
      display: flex;
      justify-content: center;
      border: 1px solid green;

      .about2__box__media--image,{
        width: 82%;
        height: 32.25vw;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include imgShadowSettings;

      }


    }
  }
}